<!--
<header class="menu">
    <nav class="menu-nav">
      <ul class="menu-list">
        <li class="menu-item" [class.active]="currentPage === 'main'"><a (click)="menuSwitch('main')">Main</a></li>
        <li class="menu-item" [class.active]="currentPage === 'gallery'"><a (click)="menuSwitch('gallery')">Gallery</a></li>
        <li class="menu-item" [class.active]="currentPage === 'introduce'"><a (click)="menuSwitch('introduce')">Introducing</a></li>
        <li class="menu-item" [class.active]="currentPage === 'booking'"><a (click)="menuSwitch('booking')">Booking an appointment</a></li>
        <li class="menu-item" [class.active]="currentPage === 'login'"><a (click)="menuSwitch('login')">Login</a></li>
        <li class="menu-item" [class.active]="currentPage === 'register'"><a (click)="menuSwitch('register')">Register</a></li>
      </ul>
    </nav>
  </header>
-->
<mat-nav-list>
    <a mat-list-item routerLink="/main" (click)="close()">
      <span>Main</span>
    </a>
    <a mat-list-item routerLink="/gallery" (click)="close()">
      <span>Gallery</span>
    </a>
    <a mat-list-item routerLink="/booking" (click)="close()" *ngIf="loggedInUser">
      <span>Booking an appointment</span>
    </a>
    <a mat-list-item routerLink="/profile" (click)="close()" *ngIf="loggedInUser">
      <span>Profile</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!loggedInUser">
      <span>Login</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="close(true)" *ngIf="loggedInUser">
      <span>Logout</span>
    </a>
    <a mat-list-item routerLink="/register" (click)="close()" *ngIf="!loggedInUser">
      <span>Register</span>
    </a>
  </mat-nav-list>