app-contact {
    bottom: 0;
    width: 100%;
}
mat-sidenav-container{
    height: 100%;
    background-color: #2d2c2c;
}
.menu_list li{
    list-style: none;
}
.menu_list li a{
    text-decoration: none;
    color: white;
}
.menu_list li a:hover{
    color: rgb(183, 183, 183);
}

.sticky-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

.content {
    margin-top: 4rem;
}