<span class="loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
</span>

<div class="main_component">
    <header>
        <h1 class="title">Rising Sun Artistry</h1>
        <img class="opening-img" src="assets/opening.jpg" alt="opening">
    </header>
    <section class="introducing-section">
        <h2>Introducing</h2>
        <p>{{ introducingText }}</p>
        <img [src]="studioImageUrl" alt="studio">
    </section>
    <section class="crew-artists-section">
        <h2>Crew</h2>
        <div class="artists-grid">
            <div class="artist-card" *ngFor="let artist of artists">
                <img class="artist-image" [src]="artist.profile_image_url" alt="{{ artist.name }}">
                <div class="artist-info">
                    <div>
                        <p class="name">{{ artist.name }}</p>
                        <button class="artist-gallery-btn" mat-raised-button (click)="openArtistGalleryModal(artist)">{{ artist.name }}'s Gallery</button>
                        <button class="artist-send_message-btn" mat-raised-button (click)="navigateToBooking(artist.name)">Send message</button>
                    </div>
                    <p class="role">{{ artist.roles }}</p>
                </div>
            </div>
        </div>
    </section>

    <app-gallery-by-artist *ngIf="selectedArtist" [artist]="selectedArtist" [closeModal]="closeArtistGalleryModal.bind(this)">
    </app-gallery-by-artist>
</div>