.main_component{
    display: flex;
    justify-content: center;
}
.form{
    display: inline-grid;
    align-self: center;
    width: 40%;
}
.button{
    padding: 5px;
    width: 50%;
}
.buttons{
    display: inline;
    
}