<span class="loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
</span>

<div class="occasion-content">
    <div class="occasion-details">
        <h3>Occasion</h3>
        <p>Details: {{ actualOccasionInput!.description }}</p>
        <p>Date: {{ actualOccasionInput!.date | dateFormat }}</p>
    </div>
    <img [src]="loadedImageUrl" [alt]="loadedImage?.image_name" class="tattoo-image">
</div>

<div class="comment-section">
    <mat-card *ngIf="comment">
        <form [formGroup]="commentForm" (ngSubmit)="updateComment()">
            <div class="comment-box">
                <p>Comment date: {{ comment.date | dateFormat }}</p>
                <mat-form-field>
                    <mat-label for="comment">Write your experience:</mat-label>
                    <textarea matInput rows="10" cols="50" formControlName="comment" placeholder="Write a comment"></textarea>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" type="submit">Comment</button>
                </div>
            </div>
        </form>
    </mat-card>

    <mat-card *ngIf="!comment">
        <form [formGroup]="commentForm" (ngSubmit)="addComment()">
            <div class="comment-box">
                <mat-form-field>
                    <mat-label for="comment">Write your experience:</mat-label>
                    <textarea matInput rows="10" cols="50" formControlName="comment" placeholder="Write a comment for your occasion"></textarea>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" type="submit">Comment</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>
