.occasion-item {
    margin-bottom: 20px;
}
  
.occasion-content {
    display: flex;
    align-items: center;
}

.comment-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment-section textarea {
    flex: 1;
    margin-right: 10px;
}

.tattoo-image {
    width: 10rem;
    height: 10rem;
}

